/* breakpoints for media queries */

$mobile: 400px;
$tablet: 740px;
$laptop: 1140px;
$desktop: 1440px;

/* colours */

$main-color: #667488;
$accent-color: #de27b0;
$main-text-color: #333333;
$accent-text-color: #f4f4f4;
$dark-color: #222222;